<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzj.core.smp.write.ErrorRecordWriteMapper" >
    <resultMap id="BaseResultMap" type="com.pzj.core.smp.errorRecord.ErrorRecordEntity" >
        <id column="error_id" property="errorId" jdbcType="BIGINT" />
        <result column="record_num" property="recordNum" jdbcType="INTEGER" />
        <result column="record_id" property="recordId" jdbcType="BIGINT" />
        <result column="err_detail" property="errDetail" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- 所有字段 -->
    <sql id="base_columns">
        error_id,
        record_num,
        record_id,
        err_detail,
        create_time
    </sql>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.pzj.core.smp.errorRecord.ErrorRecordEntity">
        insert into error_record (
        record_num,
        record_id,
        err_detail,
        create_time
        ) values (
        DATE_FORMAT(NOW(),'%m '),
        #{errorRecord.recordId,jdbcType=BIGINT},
        #{errorRecord.errDetail,jdbcType=VARCHAR},
        #{errorRecord.createTime,jdbcType=TIMESTAMP}
        )
    </insert>
</mapper>